<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

  <div class="container my-4 mt-4">
<h6>    Divyani Mali and Rutuja Khairnar: A Data Science Students
</h6>
<h5>Meet the Developer</h5>

<p>Hello, I'm Divyani Mali with collaboration with Rutuja Khairnar , an aspiring data scientist and a B.Tech student specializing in Computer Science and Engineering with a focus on Data Science at Vishwakarma Institute of Technology, Pune. With a passion for harnessing technology's potential to solve real-world challenges, let me share a bit about my journey in the fields of AI and machine learning.
</p>
<h5>My Expertise
</h5>
<p>With a strong foundation in Python, SQL, Java, and data visualization tools, I have embarked on an academic journey enriched with hands-on projects in AI and ML. From developing predictive models for house pricing and gold pricing to building a medicine recommendation system and statistical models to optimize revenue for taxi drivers, I have honed my skills through practical applications. My experience extends to hackathons, research, and collaborative projects that push the boundaries of innovation.
</p>
<h5>A Commitment to Excellence
</h5>
<p>My work is driven by an unwavering commitment to excellence and a belief that technology should empower and uplift individuals. Whether it’s designing user-friendly solutions, creating accurate predictive models, or implementing intelligent systems, I aim to bridge the gap between cutting-edge technology and everyday usability.
</p>
<h5>Passion for Health Tech
</h5>
<p>The development of this project stems from my passion for leveraging AI to make healthcare more accessible, personalized, and impactful. I believe that technology has the potential to revolutionize healthcare delivery, enabling individuals to make informed decisions about their well-being. This platform reflects my dedication to that vision.
</p>
<h5>Join Me on this Journey
</h5>
<p>I invite you to explore Medical Recommendation System and witness the exciting possibilities of AI in action. Together, we can make technology more inclusive, enhance healthcare accessibility, and contribute to building a brighter and healthier future.
</p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>